:root {

}

#root > section,
  .header-container,
  .explaination-container,
  .hardwaresoftware-container,
  .projects-container,
  .careers-container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


