/* section must be full screen */
.headersec-container {
  height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  overflow: visible;

}

/* floating layer */
.keyboard-layer {
  position: relative;
  width: 1020%;
  height: 100%;
}

/* keyboard */
.keyboard-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  width: 100vw;
  z-index: 999;
}

/* title */
.header-title {
  position: absolute;
  top: 25%;
  left: 20%;
  justify-content: left;
}

.header-line {
  font-size: clamp(4rem, 8vw, 10rem);
  line-height: 0.9;
}

/* tagline */
.tagline {
  position: absolute;
  top: 10%;
  left: 20%;
}